.movieCard {
  height: 172px;
  width: 115px;
  position: relative;
  margin-right: 10px;
  box-sizing: border-box;
  border: 2px solid black;
  flex-shrink: 0;
}
.movieCard:last-child {
  margin: 0;
}
.movieCard img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  float: left;
  z-index: 1;
}

.titleHolder {
  position: absolute;
  overflow: none;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 2;
  opacity: 0;
  transition: 250ms;
}
.titleHolder hr {
  color: white;
  width: 90%;
  margin: 4px 0px;
}
.movieCard p {
  top: 0;
  width: 90%;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Roboto;
}

.movieCard:hover .titleHolder {
  opacity: 1;
}