.addHaikuMini {
  height: 70px;
  width: 200px;
  background: #F1E7CD;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  box-shadow: 4px 4px 6px rgba(0,0,0,0.5);
}
.innerAdd {
  height: 50px;
  width: 180px;
  border: 4px solid #B7910A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerAdd i {
  font-size: 36px;
}
.innerAdd p {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
}