.searchContainer {
  width: 65%;
  background: #c4c4c4;
}

.searchContainer input,
.searchContainer button {
  border: none;
  margin-top: 10px;
}
.searchContainer input {
  width: 70%;
  height: 40px;
  font-size: 24px;
  border-radius: 10px;
  padding-left: 10px;
  margin-right: 10px;
}
.searchContainer button {
  width: 25%;
  height: 35px;
  border-radius: 15px;
  background: red;
  color: white;
  font-size: 24px;
}