.profileDetail,
.profileForm {
  width: 100%;
  height: 180px;
  padding-bottom: 50px;
  background: lightgray;
  margin: 10px;
  font-family: Roboto;
  position: relative;
}

.profileDetail img {
  height: 180px;
  margin: 10px;
  float: left;
}
.profileDetail h2,
.profileDetail p {
  margin: 10px;
}

.profileForm {
  padding: 10px 10px 40px 10px;
  display: flex;
}
.profileForm img {
  height: 180px;
  float: left;
}
.imageUploadBox {
  width: 150px;
  height: 180px;
  border: 1px dotted black;
  margin-right: 10px;
  padding: 10px;
}
/* .fileUploader {
  width: 150px !important;
  height: 180px !important;

}
.fileContainer {
  background: none !important;
  box-shadow: none !important;
  height: 180px;
  margin: 0 !important;
  padding: 0 !important;
  position: relative !important;
}
.fileContainer button {
  position: absolute;
  bottom: 0;
}
.uploadPicturesWrapper,
.uploadPicturesWrapper div {
  position: absolute;
  top: 0;
}
.uploadPictureContainer {
  height: 105px !important;
  width: 105px !important;
  position: absolute !important;
  top: 0 !important;
  margin: 0 !important;
  border-radius: 50%;
  padding: 1px !important;
  overflow:hidden;
}
.uploadPictureContainer img {
  height: 105px !important;
  width: 105px !important;
  border-radius: 50%;
  margin: 0 !important;
  object-fit: cover;
} */

.displayNameForm {
  margin-bottom: 10px;
}
.displayNameForm label {
  margin-left: 10px;
}
.displayNameForm input {
  height: 25px;
  width: 254px;
  font-size: 16px;
}
.bioForm label {
  float: left;
  margin: 0px 10px;
}
.bioForm textarea {
  width: 264px;
  height: 120px;
  resize: none;
  font-size: 16px;
  font-family: Roboto;
  padding: 3px;
}