.profileDetail,
.profileForm {
  width: 320px;
  height: 210px;
  background: rgba(255,255,255,0.5);
  margin: 10px;
  font-family: Roboto;
  position: relative;
  padding: 10px;
}
.profileDetail {
  position: relative;
}

.profileDetail h2 {
  margin-bottom: 10px;
}
.profileDetail p {
  margin: 10px 0px;
}

.updateProfileBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 30px;
  width: 125px;
  font-size: 16px;
}

.profileForm {
  display: flex;
}

.displayNameForm {
  margin-bottom: 10px;
}
.displayNameForm label {
  margin-left: 10px;
}
.displayNameForm input {
  height: 25px;
  width: 254px;
  font-size: 16px;
}
.bioForm label {
  float: left;
  margin: 0px 10px;
}
.bioForm textarea {
  width: 264px;
  height: 120px;
  resize: none;
  font-size: 16px;
  font-family: Roboto;
  padding: 3px;
}

@media only screen and (max-width: 600px) {
  .profileDetail {
    width: 175px;
  }
}