.addHaikuForm {
  font-family: Roboto;
  width: 100%;
  height: 100%;
}

.titleInputText {
  font-size: 24px;
  margin: 5px;
}
.haikuInputText {
  font-size: 30px;
  margin: 10px;
}

.haikuTitleInput,
.lineOneInput,
.lineTwoInput,
.lineThreeInput {
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 15px;
}

.haikuTitleInput {
  width: 50%;
  height: 40px;
  font-size: 24px;
  margin-bottom: 10px;
}
.lineOneInput,
.lineTwoInput,
.lineThreeInput {
  text-align: center;
  width: 60%;
  height: 50px;
  font-size: 30px;
  margin: 10px 0px 2px 0px;
}
.lineTwoInput {
  width: 75%;
}
.submitHaikuBtn {
  margin: 5px;
  height: 40px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

@media only screen and (max-width: 900px) {
  .titleInputText {
    font-size: 20px;
    margin: 0;
  }.haikuInputText {
    font-size: 24px;
    margin: 0;
  }
  .haikuTitleInput {
    height: 32px;
    font-size: 20px;
    margin: 10px;
    width: 250px;
  }
  .lineOneInput,
  .lineTwoInput,
  .lineThreeInput {
    height: 36px;
    font-size: 24px;
    width: 250px;
  }
  .lineTwoInput {
    width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .titleInputText {
    font-size: 16px;
  }.haikuInputText {
    font-size: 20px;
    margin: 0;
  }
  .haikuTitleInput {
    height: 32px;
    font-size: 14px;
    padding-left: 2px;
  }
  .lineOneInput,
  .lineTwoInput,
  .lineThreeInput {
    height: 32px;
    font-size: 18px;
    margin: 2px;
  }
  .addHaikuForm button {
    height: 30px;
    font-size: 18px;
  }
}