* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainContainer {
  flex: 1 0 auto;
  background-image: url("http://bgfons.com/uploads/velvet/velvet_texture1773.jpg");
  background-size: cover;
}