* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --nav-height: 50px;
  --drawer-color: url("https://images.unsplash.com/photo-1522382955582-23b67919cca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80");
  --drawer-color: url("https://images.unsplash.com/photo-1498962342534-ee08a0bb1d45?ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80");
  /* --gold: linear-gradient(to bottom right, #9a7318, #e6dc4b, #9a7318); */
  --gold: linear-gradient(to bottom right,#E09082, #e8ba83, #E09082);
  --rose-gold: linear-gradient(to bottom right,#E09082, #d2a46d, #E09082);
}


.app {
  padding-top: var(--nav-height);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  background-image: url("http://bgfons.com/uploads/velvet/velvet_texture1773.jpg");
  background-size: cover;
  position: relative;
  transition: padding-top 1s;
}

.mainContainer {
  flex: 1 0 auto;
  max-height: calc(100vh - 50px);
  overflow: scroll;
}

.mainContainer,
.newHaikuPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* General styling */
button {
  padding: 10px;
  background: var(--gold);
  color: black;
  height: 50px;
  font-size: 24px;
  font-weight: 700px;
  border-width: 1px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  background: antiquewhite;
}
.innerCardContainer {
  border: 4px solid;
  border-image-slice: 1;
  border-image-source: var(--gold);
  /* border-image-source: linear-gradient(to bottom right, #9a7318, #e6dc4b, #9a7318); */
}

/* Function classes */
.flex-center,
.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-column {
  flex-direction: column;
}